@keyframes rotateFace{
    0%{
        transform: rotate(0deg);
    } 50% {
        transform: rotate(360deg);
    } 100% {
        transform: rotate(0deg);
    }
}

/* -------------------------------------------------------------------------- */
/*                                  generale                                  */
/* -------------------------------------------------------------------------- */

*{
    box-sizing: border-box;
}

body{
    font-family: "Dosis", sans-serif;
    color: #404142;
}

img{
    width: 100%;
}

section, h1, h2, h3, h4, p, ul{
    margin: 0;
}

i{
    color: #036BC7;
}

i.ti-twitter-alt{
    color: #4199FF;
}

.container{
    width: 94%;
    margin: 0 auto;
}

button{
    display: block;
}

hr{
    margin: 0;
}

a{
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */



#header{
    background-color: #036BC7;
    padding: 1rem 1.5rem 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-logo{
    width: 12rem;
    margin-top: 0.5rem;
}

.burger-icon i{
    color: #FFC000;
    font-size: 2rem;
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/*                              side menu mobile                              */
/* -------------------------------------------------------------------------- */

.mobile-nav{
    width: 70%;
    height: 100vh;
    background-color: #FCD93B;
    position: fixed;
    top: 0;
    right: -70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: 1s ease-out;
}

.mobile-nav .main-nav{
    list-style: none;
    text-align: right;
    font-size: 2rem;
}

.mobile-nav .main-nav li{
    margin: 1.2rem 0;
}

.mobile-nav .main-nav li a{
    color: #404142;
}

.mobile-nav i{
    position: absolute;
    top: 4%;
    right: 8%;
    font-size: 2rem;
    color: #404142;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                desktop menu                                */
/* -------------------------------------------------------------------------- */

.desktop-nav{
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                    hero                                    */
/* -------------------------------------------------------------------------- */

.hero{
    background-color: #036BC7;
    color: #f8f8f8;    
    text-align: center;
    padding: 4rem 0 7rem;
    line-height: 1.2;
    margin-top: -1px;
}

.hero-title{
    font-size: 3rem;
    font-weight: 300;
}

.hero-p{
    font-size: 1.6rem;
    margin-top: 1rem;
}

.hero-small{
    font-size: 1.4rem;
    color: #f8f8f8b0;
    margin-top: 2rem;
}

.btn-hero{
    background-color: #DD5138;
    width: 70%;
    margin: 6rem auto 0;
    padding: 1.4rem 1.2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-hero i{
    color: #f8f8f8;
    margin-left: 0.4rem;
}


.hero-img{
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */

.main{
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                main actions                                */
/* -------------------------------------------------------------------------- */


.main-actions{
    margin-top: 3rem;
}

.main-title{
    font-size: 2rem;
    font-weight: 400;
}

.action{
    margin-top: 5rem;
}

.action-img i{
    font-size: 6rem;
}

.action-title{
    margin-top: 1.3rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.action-p{
    font-size: 1.3rem;
    margin-top: 0.7rem;
}

/* -------------------------------------------------------------------------- */
/*                                main speakers                               */
/* -------------------------------------------------------------------------- */


.main-speakers{
    margin: 7rem 0 1.8rem;
}

.speakers-title{
    font-size: 2rem;
    font-weight: 500;
}

.speakers-cards{
    padding-top: 1rem;
}

.speaker-card{
    border: 2px solid #f5f5f5;
    margin-top: 2rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speaker-img{
    width: 40%; 
}


.speaker-img:hover{
    animation: rotateFace 2s infinite; 
}

.speaker-img img{
    box-shadow: 0 0 0 4px #EFEFEF;
    border-radius: 100%;
}

.speaker-name{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 1.5rem;
}

.speaker-description{
    margin-top: 0.5rem;
    padding: 0 1.1rem;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 500;
}

.speaker-social{
    width: 40%;
    margin-top: 2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}


/* -------------------------------------------------------------------------- */
/*                                 cta section                                */
/* -------------------------------------------------------------------------- */

.cta{
    background-color: #FCD93B;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0 2rem;
}

.cta-title{
    font-weight: 500;
    font-size: 1.8rem;
}

.cta-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cta-option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-option-title{
    font-weight: 300;
    font-size: 1.5rem;
}

.cta-option-price{
    margin: 1.2rem 0;
    color: #DD5138;
    font-size: 4rem;
    font-weight: 300;
}

.cta-option-description{
    font-weight: 600;
    font-size: 1rem;
}

.cta-option-btn{
    background-color: #DD5138;
    color: #f8f8f8;
    width: 85%;
    margin-top: 0.7rem;
    padding: 1rem 1.6rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cta-option-btn small{
    margin-left: 0.4rem;
}

/* -------------------------------------------------------------------------- */
/*                                  form area                                 */
/* -------------------------------------------------------------------------- */

.main-form{
    background-color: #3A3A3A;
    padding: 2.5rem 0 0;
}

.form-container{
    margin: 0 auto;
    width: 80%;
    color: #f8f8f8;
}

.main-form i{
    color: #f8f8f8;
}

.main-form span{
    color: #3379B6;
}

.main-form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.4rem;
}

.main-form-title h3{
    font-weight: 300;
}

.main-form label, .main-form input, .main-form textarea{
    display: block;
}

.main-form input, .main-form textarea{
    width: 100%;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
}

.main-form label{
    margin: 1.6rem 0 0.4rem;
    font-weight: 600;
}

.main-form textarea{
    height: 5.8rem;
}

.form-button-aligner{
    display: flex;
    justify-content: flex-end;
}

.form-button{
    background-color: #FCD93B;
    color: #3A3A3A;
    width: 20%;
    margin: 1.2rem 0 0;
    padding: 0.6rem 2rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.1rem;
}

.form-button i{
    color: #3A3A3A;
}

.reviews-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.4rem;
}

.reviews-title h3{
    font-weight: 300;
}

.review{
    font-size: 1.2rem;
    text-align: center;
    padding: 1.4rem 0.2rem;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    background-color: #2A2A2A;
    color: #f8f8f8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 2rem 2rem;
}

.footer-left{
    font-size: 1.2rem;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    /*correzione problema normalize*/
    padding-inline-start: 0;
}

.footer-nav li a{
    color: #FCD93B;
}


/* -------------------------------------------------------------------------- */
/*                                media query min 650px                              */
/* -------------------------------------------------------------------------- */


@media screen and (min-width:650px) {

    .container{
        width: 90%;
    }

    /*header*/

    #header{
        padding: 1rem 2rem 6vh;
    }

    .header-nav i{
        display: none;
    }

    .mobile-nav{
        display: none;
    }

    .desktop-nav{
        display: block;
    }

    .desktop-nav .main-nav{
        display: flex;
        gap: 2rem;
    }

    .desktop-nav .main-nav li{
        list-style: none;
    }

    .desktop-nav .main-nav a{
        color: #FCD93B;
    }

    .desktop-nav .main-nav a:hover{
        border-bottom: 1px solid #FCD93B;
    }

    /*hero*/

    .hero{
        padding: 3.5rem 0;
    }

    .hero .container{
        position: relative;
    }

    .hero-img{
        width: 45%;
        display: block;
        position: absolute;
        top: 10%;
        left: 55%;
    }

    .hero .text-content{
        width: 90%;
        text-align: left;
    }

    .hero-title{
        font-size: 2rem;
    }

    .btn-hero{
        width: 40%;
        margin: 5rem 0;
        font-size: 0.8rem;
    }

    /*main*/

    /* actions */

    .actions{
        display: flex;
        gap: 0.5rem;
    }

    .action{
        width: calc((33.3333% - 0.5rem) + (0.5rem / 3));
    }

    .action-img i{
        font-size: 5rem;
    }

    .action-title{
        font-size: 1.5rem;
    }

    .action-p{
        font-size: 1.1rem;
    }

    /*speakers*/

    .main-speakers{
        margin: 4rem 0 2.5rem;
    }

    .speakers-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem
    }

    .speaker-card{
        width: calc((50% - 0.8rem) + ( 0.8rem / 2));
    }

    /*cta*/

    .cta{
        padding: 2rem 0;
        gap: 1.6rem;
    }

    .cta-title{
        font-size: 2rem;
    }

    .cta-options{
        flex-direction: row;
        gap: 3rem;
    }

    .cta-option{
        width: calc((50% - 1.6rem) + (1.6rem /2));
        justify-content: space-between;
    }

    .cta-option-btn{
        width: 95%;
    }

    /*form & reviews*/

    .form-container{
        width: 60%;
    }

    .main-reviews{
        padding: 2rem 0 1.5rem;
    }

    /*footer*/

    footer{
        gap: 1.8rem;
        padding: 2.8rem 2rem;
    }
}


/* -------------------------------------------------------------------------- */
/*                            media query min 900px                           */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:900px){

    .container{
        width: 85%;
    }

    /*header*/

    #header{
        padding: 1rem 3.5rem 6vh;
    }

    .desktop-nav .main-nav{
        gap: 3rem;
        font-size: 1.2rem;
    }

    /*hero*/

    .hero .container{
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .hero .text-content{
        width: 45%;
    }

    .hero-title{
        font-size: 2.4rem;
    }

    .hero-img{
        position: static;
        width: 40%;
    }

    .btn-hero{
        font-size: 1rem;
    }

    /*main*/

    .main{
        padding: 2.5rem 0;
    }

    .main-title{
        font-size: 2.5rem;
    }

    .main-actions .main-title{
        font-size: 3rem;
    }

    /* actions */

    .actions{
        margin-top: 3rem;
        gap: 2rem;
    }

    .action{
        width: calc((33.3333% - 2rem) + (2rem / 3));
    }

    .action-title{
        font-size: 2rem;
    }

    .action-p{
        font-size: 1.4rem;
        line-height: 1.4;
    }

    /*speakers*/

    .speakers-title{
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }

    .speakers-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 1.4rem
    }

    .speaker-card{
        width: calc((33.333% - 1.4rem) + ( 1.4rem / 3));
    }

    .speaker-card:hover{
        box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
          0px 5px 4px rgba(3, 7, 18, 0.03),
          0px 12px 9px rgba(3, 7, 18, 0.05),
          0px 20px 15px rgba(3, 7, 18, 0.06),
          0px 32px 24px rgba(3, 7, 18, 0.08);
        transform: scale(1.05);
        transition: 0.2s linear;
    }


    /*cta*/

    .cta{
        padding: 3rem 0 4.5rem;
    }

    .cta-title{
        font-size: 2.2rem;
    }

    .cta-options{
        width: 80%;
        gap: 0;
        justify-content: space-evenly;
    }

    .cta-option{
        width: 30%;
    }

    .cta-option-btn{
        width: 70%;
    }

    /*form & reviews*/

    .main-form{
        background-color: #3A3A3A;
        padding: 2.5rem 0;
    }

    .main-form input{
        display: inline;
    }

    .form-container{
        width: 90%;
    }

    .form-rewiew-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .form-rewiew-container form{
        padding: 2rem 0;
    }

    .main-form-title{
        font-size: 2rem;
    }


    .main-form form{
        width: 50%;
    }

    .main-reviews{
        width: 35%;
    }

    .review{
        font-size: 1rem;
    }

    /*footer*/

    footer{
        flex-direction: row;
        justify-content: space-between;
    }


    .main-form label, .main-form input, .main-form textarea{
        margin: 0.3rem 0;
    }

    .main-form input, .main-form textarea{
        width: 100%;
    }

}


/* -------------------------------------------------------------------------- */
/*            per sistemare la label inline nel form  media 1450px            */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:1450px){

    .inliner{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0.8rem;
    }
    
    .main-form label, .main-form input, .main-form textarea{
        display: inline;
        margin: 0.3rem 0;
    }

    .main-form input, .main-form textarea{
        width: 80%;
        margin-left: 0.6rem;
    }

}