/* -------------------------------------------------------------------------- */
/*                                  generale                                  */
/* -------------------------------------------------------------------------- */

*{
    box-sizing: border-box;
}

body{
    font-family: "Dosis", sans-serif;
}

img{
    width: 100%;
}

section, h1, h2, h3, h4, p{
    margin: 0;
}

i{
    color: #036BC7;
}

.container{
    width: 94%;
    margin: 0 auto;
}

button{
    display: block;
}



/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */



#header{
    background-color: #036BC7;
    padding: 1rem 1.5rem 6vh 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 40%;
    margin-top: 0.5rem;
}

.burger-icon i{
    color: #FFC000;
    font-size: 2rem;
}

.main-nav{
    color: #FFC000;
    list-style: none;
    display: none;
}


/* -------------------------------------------------------------------------- */
/*                                    hero                                    */
/* -------------------------------------------------------------------------- */

.hero{
    background-color: #036BC7;
    color: #f8f8f8;
    height: 75vh;
    text-align: center;
    padding-top: 4rem;
    line-height: 1.2;
    margin-top: -1px;
}

.hero-title{
    font-size: 3rem;
    font-weight: 300;
}

.hero-p{
    font-size: 1.6rem;
    margin-top: 1rem;
}

.hero-small{
    font-size: 1.4rem;
    color: #f8f8f8b0;
    margin-top: 2rem;
}

.btn-hero{
    background-color: #DD5138;
    width: 70%;
    margin: 6rem auto 0;
    padding: 1.4rem 1.2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-hero i{
    color: #f8f8f8;
    margin-left: 0.4rem;
}


.hero-img{
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */

.main{
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                main actions                                */
/* -------------------------------------------------------------------------- */


.main-actions{
    margin-top: 3rem;
}

.main-title{
    font-size: 2rem;
    font-weight: 400;
}

.action{
    margin-top: 2.5rem;
}

.action-img i{
    font-size: 6rem;
}

.action-title{
    margin-top: 1.4rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.action-p{
    font-size: 1.3rem;
    margin-top: 0.5rem;
}